.red {
  color: red;
}
.item_row {
  grid-column: 1/6;
  width: 100%;
  background-color: #e0dbdb;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #8360c3;
  font-weight: 700;
}
.item_row:hover {
  background-color: #b9b9b9;
  color: #fff;
}
.item__row-item1 {
  text-align: left;
}
.item__row-item2 img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
