.header__menu-container{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}
.header__menu{
  display: flex;
  align-items: center;
  max-width: 50%;
}
.button-blue {
  padding: 0.5rem 1rem;
  background-color: #2196f3;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  outline: none;
  border: none;
}
.button-blue:hover {
  background-color: #fff;
  border: 1px solid #2196f3;
  border-radius: 1rem;
  color: #2196f3;
  font-weight: 700;
  text-align: center;
}